.infobar-container {
  width: 100%;
  height: 10%;
  background-color: rgb(112, 112, 221);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infobar-container-left {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.infobar-name {
  margin-left: 10px;
}

.infobar-container-right {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.online {
  height: 5px;
  width: 5px;
}
